<h1><%= @doctor.name %></h1>
<p><%= @doctor.department %></p>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Patient</th>
    </tr>
  </thead>
  <tbody>
    <% @doctor.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %></td>
        <td><%= link_to appointment.patient.name,
                        patient_path(appointment.patient) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
